{% extends "components/base.html" %}
{% load static %}

{% block resources %}
<link rel="stylesheet" href="{% static 'css/article.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<div class = "narrative">
    <div class = "introduction">
        <div class = "row">
            <div class = "col-md-1"></div>
            <div class = "col-md-10">
                <h1>Diversity and Inclusion, or Diversity VS Inclusion?</h1>
                <h2>by Mollie Zhang</h2>
            </div>
            <div class = "col-md-1"></div>
        </div>
    </div>

    <div class = "row">

        <div class = "col-md-2"></div>
        <div class = "col-md-8">
            <p>
                It started with a conversation among the thought curators on the Editorial team. After <a href = "/article/1">Colton’s proposal</a>
                of the “donut” diagram, we discovered that whenever we try to improve diversity of a design, its inclusivity will be the cost and
                decrease proportionally. And the following question thus came to us: will we be able to discuss enhancing diversity AND inclusion
                simultaneously in our writing?
            </p>
            <p>
                To answer this question, the thought curation team designed an experiment. The editorial team is split into two separate groups to
                compete against each other and design a recruitment process for “Triple A multimedia design fraternity. ” However, what the two
                teams don’t know is the fact that they are working on different prompts: one team is designing a selective and diverse recruitment
                process, while the other team is focusing on a selective and inclusive process.

            </p>
            <p>
                The two teams were given three weeks to develop their recruitment process, and presented in front of the entire team. We revealed
                the difference in their prompts right before they present to preserve the independence of their design thinking. The following will
                point out some major differences between the two design processes.
            </p>
        </div>
        <div class = "col-md-2"></div>
        <div class = "col-md-12 images">
            <img src="{% static 'imgs\dni\donut.jpg' %}" class="img-fluid"/>
        </div>
    </div>

    <div class = "row">
        <div class = "col-md-2"></div>
        <div class="col-md-8 subtitle">
            <h3>Definition of Inclusivity and Diversity</h3>
        </div>
        <div class = "col-md-2"></div>
        <div class = "col-md-3"></div>
        <div class = "col-md-3">
            <p>
                The inclusivity team defined inclusivity as “communication, compromising, understanding, and willingness to include.”
            </p>
        </div>
        <div class = "col-md-3">
            <p>
                The diversity team emphasized diversity in people’s skills. They expect their brothers to be experts in diverse areas of design.
            </p>
        </div>
        <div class = "col-md-3"></div>
    </div>

    <div class = "row">
        <div class = "col-md-2"></div>
        <div class="col-md-8 subtitle">
            <h3>Written Application </h3>
        </div>
        <div class = "col-md-2"></div>

        <div class = "col-md-2"></div>
        <div class = "col-md-8">
            <p>
                The two teams both chose to use written application as their first stage of recruitment process. The applicants will submit an
                application form, and the brothers in the organization will evaluate based on their response.
            </p>
        </div>
        <div class = "col-md-2"></div>
    </div>

    <div class = "row">
        <div class = "col-md-2"></div>
        <div class="col-md-8 subtitle">
            <h3>The Inclusive Team </h3>
        </div>
        <div class = "col-md-2"></div>

        <div class = "col-md-2"></div>
        <div class = "col-md-8 images">
            <p>
                To evaluate the applicant’s passion while giving both potential and mature designers equal opportunity, the inclusive team
                decides to pick a variety of prompts and ask the applicants to critique three pieces of their choice. The team provides a
                total of nine prompts in three categories: branding identity, photography, and CAD.
            </p>
            <img src="{% static 'imgs\dni\inclusiveTeam.png' %}" class="img-fluid"/>
        </div>
        <div class = "col-md-2"></div>

        <div class = "col-md-2"></div>
        <div class="col-md-8 subtitle">
            <h3>The Diverse Team </h3>
        </div>
        <div class = "col-md-2"></div>

        <div class = "col-md-2"></div>
        <div class = "col-md-8 images">
            <p>
                The diverse team aims to design an application process that classifies the applicants for them and builds a basis for picking
                equally from different design fields. Thus, their application requires applicants not only to respond to a prompt, but also
                requires them to submit three or more past designs reflecting their strength.
            </p>
            <img src="{% static 'imgs\dni\diverseTeam.png' %}" class="img-fluid"/>
        </div>
        <div class = "col-md-2"></div>
    </div>
    <div class = "row">
        <div class = "col-md-2"></div>
        <div class="col-md-8 subtitle">
            <h3>Interview Process </h3>
        </div>
        <div class = "col-md-2"></div>

        <div class = "col-md-2"></div>
        <div class = "col-md-8 images">
            <p>
                Moving on to the next stage, both teams chose to interview the applicants that passed the first round of application.
                In this setting, both teams are designing it in an ideal situation where time consumption of training interviewers and
                conducting interviews are ignored.
            </p>
            <p>
                This is the most interesting stage: the purpose of the two designs diverges and serves to either achieve diversity of
                final interviewees or elicit the inclusive character of the interviewees.
            </p>
        </div>
        <div class = "col-md-2"></div>
    </div>

    <div class = "row">
        <div class = "col-md-2"></div>
        <div class="col-md-8 subtitle">
            <h3>Conclusion </h3>
        </div>
        <div class = "col-md-2"></div>

        <div class = "col-md-2"></div>
        <div class = "col-md-8">
            <p>
                The two teams’ recruitment process follows the traditional route: application, interview, and final-round cut.
                However, their emphasis of candidates’ desired qualities are different. The diverse team ensures a new pledge
                class of people with distinct design skills, while the inclusive team implemented three rounds of interviews to
                evaluate the applicant’s communication skills and inclusive mindset. Aiming to achieve both diversity and inclusivity,
                we hope that this experiment elicits the end goal of these two ideals, and hope to combine the two processes to build a
                diverse and inclusive recruitment process.
            </p>
        </div>
        <div class = "col-md-2"></div>
    </div>

    <div class = " interact">
            <label><p>
                Write your thoughts here.
                </p></label>
            <input id="thoughts" type="text" placeholder = "press enter to clear"/>
            <div class = "fallarea"></div>
    </div>
    <div class="line"></div>
    <div class = "row author">
        <div class = "col-md-1"></div>
        <div class = "col-md-5">
            <img src="{% static 'imgs\dni\mollie.jpg' %}" class="img-fluid"/>
        </div>
        <div class = "col-md-5">
            <h2>Mollie Zhang</h2>
            <p>
                Mollie is a sophomore studying Linguistics and CS in the College of Arts and Sciences. She is the team lead of Medium Editorial
                meta-team. She loves cheesecakes.
            </p>
        </div>
        <div class = "col-md-1"></div>
    </div>


</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/sections/article.js' %}"></script>
{% endblock %}
