{% extends "components/base.html" %}
{% load static %}

{% block resources %}
<link rel="stylesheet" href="{% static 'css/article.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<div class = "narrative">
    <div class = "introduction">
        <div class = "row">
            <div class = "col-md-1"></div>
            <div class = "col-md-10">
                <h1>Diversity VS Inclusion</h1>
                <h2>by Colton Poore</h2>
            </div>
            <div class = "col-md-1"></div>
        </div>
    </div>



    <div class = "row">
        <div class = "col-md-2"></div>
        <div class = "col-md-8">
            <p>
                A friend once told me that diversity is inviting everyone to your party, and
                inclusivity is getting them to want to come and dance.  Of course, not everyone you
                invite will come, and not all of them that come will have a fun time. So if diversity
                is everyone you invite, and inclusivity is everyone who comes
            </p>
        </div>
        <div class = "col-md-2"></div>
    </div>

    <img alt = "random" class = "img-fluid" src = "https://source.unsplash.com/random/1440x900" />


    <div class = "row">
        <div class = "col-md-2"></div>
        <div class="col-md-8 subtitle">
            <h3>Definition of Inclusivity and Diversity</h3>
        </div>
        <div class = "col-md-2"></div>
        <div class = "col-md-3"></div>
        <div class = "col-md-3">The inclusivity team defined inclusivity as “communication, compromising, understanding, and willingness to include.” </div>
        <div class = "col-md-3">The diversity team emphasized diversity in people’s skills. They expect their brothers to be experts in diverse areas of design.</div>
        <div class = "col-md-3"></div>
    </div>
    <div class = "row">
        <div class = "col-md-2"></div>
        <div class = "col-md-8">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class = "col-md-2"></div>
    </div>

    <div class = "row">
        <div class = "col-md-1"></div>
        <div class = "col-md-10">
            <img alt = "random" class = "img-fluid" src = "https://source.unsplash.com/random/" />
        </div>
        <div class = "col-md-1"></div>
    </div>

    <div class = "row">
        <div class = "col-md-2"></div>
        <div class = "col-md-8">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class = "col-md-2"></div>
    </div>

    <div class = "row author">
        <div class = "col-md-1"></div>
        <div class = "col-md-5">
            <img alt = "random" class = "img-fluid" src = "https://source.unsplash.com/random/445x500" />
        </div>
        <!-- <div class = "col-md-1"></div> -->
        <div class = "col-md-5">
            <h2>Mollie Zhang</h2>
            <h4>Computer Science</h4>
            <p>
                It started with a conversation among the thought curators on the Editorial team. After Colton’s proposal of the “donut” diagram,
                we discovered that whenever we try to improve diversity of a design, its inclusivity will be the cost and decrease proportionally.
                And the following question thus came to us: will we be able to discuss enhancing diversity AND inclusion simultaneously in our writing?
            </p>
        </div>
        <div class = "col-md-1"></div>
    </div>

    <div class = " interact">
            <label><p>
                Write your thoughts here.
                </p></label>
            <input id="thoughts" type="text" placeholder = "press enter to clear" autofocus/>
            <div class = "fallarea"></div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/sections/article.js' %}"></script>
{% endblock %}
