{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/index.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
 	<meta charset="utf-8">
 	<title>Creators of Cornell</title>
 	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'imgs/favicon.ico' %}" >
    <link href="https://fonts.googleapis.com/css?family=Roboto:500,700" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block resources %}
    {% endblock %}
</head>
<body onresize="ImageGrid(options)" onLoad="ImageGrid(options)">
    <!-- <div id="hamburger"><i data-feather="menu"></i></div> -->
    <div class="creators-nav">
			<div><h1>Creators of Cornell</h1></div>
		</div>
    <div class="creators">
		{% block content %}
		
		<div class="creators-content">
				<div class="square-container">

						<div class="square">
							<div class="content">
								<h1>hey</h1>
							</div>
						</div>
					
						<div class="square">
							<div class="content spread">
							</div>
						</div>
					
						<div class="square">
							<div class="content column">
							</div>
						</div>
					
						<div class="square">
							<div class="content spread">
							</div>
						</div>
					
						<div class="square">
							<div class="content column">
							</div>
						</div>
					
					</div>
			<!-- <div class="flex">
			
				<div class="profile">
					<img src = "https://source.unsplash.com/random">
							<span class ="info">
									<span class = "detail">
											<h2 class = "name">Mohit Shah</h2>
											<h2 class = "major">Information Science '21</h2>
									</span>
							</span>
				</div>

				<div class="profile">
					<img src = "https://source.unsplash.com/random">
							<span class ="info">
									<span class = "detail">
											<h2 class = "name">Mohit Shah</h2>
											<h2 class = "major">Information Science '21</h2>
									</span>
							</span>
				</div>

				<div class="profile">
					<img src = "https://source.unsplash.com/random">
							<span class ="info">
									<span class = "detail">
											<h2 class = "name">Mohit Shah</h2>
											<h2 class = "major">Information Science '21</h2>
									</span>
							</span>
				</div>

				<div class="profile">
					<img src = "https://source.unsplash.com/random">
							<span class ="info">
									<span class = "detail">
											<h2 class = "name">Mohit Shah</h2>
											<h2 class = "major">Information Science '21</h2>
									</span>
							</span>
				</div>

				<div class="profile">
					<img src = "https://source.unsplash.com/random">
							<span class ="info">
									<span class = "detail">
											<h2 class = "name">Mohit Shah</h2>
											<h2 class = "major">Information Science '21</h2>
									</span>
							</span>
				</div>

				<div class="profile">
					<img src = "https://source.unsplash.com/random">
							<span class ="info">
									<span class = "detail">
											<h2 class = "name">Mohit Shah</h2>
											<h2 class = "major">Information Science '21</h2>
									</span>
							</span>
				</div>

				<div class="profile">
					<img src = "https://source.unsplash.com/random">
							<span class ="info">
									<span class = "detail">
											<h2 class = "name">Mohit Shah</h2>
											<h2 class = "major">Information Science '21</h2>
									</span>
							</span>
				</div>

				<div class="profile">
					<img src = "https://source.unsplash.com/random">
							<span class ="info">
									<span class = "detail">
											<h2 class = "name">Mohit Shah</h2>
											<h2 class = "major">Information Science '21</h2>
									</span>
							</span>
				</div>

		</div> -->
		</div>
        {% endblock %}
    </div>
</body>
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script src="http://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
{% block scripts %}
{% endblock %}
<!-- <script>feather.replace();</script> -->
<script>
	var options = {
		imgSrc : "{% static 'imgs/design.jpg' %}",
		containerName : "placeholder",
		rows:3,
		columns:3,
		margin:2.5,
		animTime: 0.3
	  }
	  
	  function ImageGrid(defaults)
	  {
		
		var gridContainer = document.getElementsByClassName('gridContainer');
		if(gridContainer.length > 0){
			gridContainer[0].parentNode.removeChild(gridContainer[0])
		}

		
		var r = defaults.rows;
		var c = defaults.columns;
		var margin = defaults.margin;
		  
		var placeholder = document.getElementsByClassName(defaults.containerName)[0];
		var container = document.createElement('div');
		container.className = "gridContainer";
		placeholder.appendChild(container); 
		  
		var gridTile;  
	  
		var w = (container.offsetWidth / c) -margin;
		var h = (container.offsetHeight / r) -margin;
		var arr = [];
		  
		for (var i=0, l=r*c; i < l; i++)
		{    
		  gridTile = document.createElement('div');
		  gridTile.className = "gridTile";
		  gridTile.style.backgroundImage = "url("+defaults.imgSrc+")";
		  
			 
		  arr = [(w+margin)*(i%c), (h+margin)*Math.floor(i/c), ((w+margin)*(i%c)+w-margin), (h+margin)*Math.floor(i/c), ((w+margin)*(i%c)+w-margin), ((h+margin)*Math.floor(i/c) + h-margin), (w+margin)*(i%c), ((h+margin)*Math.floor(i/c) + h-margin)];
			  
		 // console.log(i + " ====>>> " + arr + " ||||| " + i%c  + " |||||| " + i/c);  
		  
			  
		  TweenMax.set(gridTile, {webkitClipPath:'polygon('+arr[0]+'px '+ arr[1]+'px,'+arr[2]+'px '+arr[3]+'px, '+arr[4]+'px '+ arr[5] +'px, '+arr[6]+'px '+ arr[7] +'px)', clipPath:'polygon('+arr[0]+'px '+ arr[1]+'px,'+arr[2]+'px '+arr[3]+'px, '+arr[4]+'px '+ arr[5] +'px, '+arr[6]+'px '+ arr[7] +'px)'});
			 
		  container.appendChild(gridTile);    
		  
		  fixTilePosition(gridTile, i);
		}
		
		placeholder.addEventListener("mouseover", function(e){
		  var allTiles = e.currentTarget.querySelectorAll(".gridTile");
		  for (var t=0, le = allTiles.length; t < le; t++)
			{
			  TweenMax.to(allTiles[t], defaults.animTime, {css:{backgroundPosition:"0px 0px"}, ease:Power1.easeOut});
			}
		})
								   
		placeholder.addEventListener("mouseleave", function(e){
		  var allTiles = e.currentTarget.querySelectorAll(".gridTile");
		  for (var ti=0, len = allTiles.length; ti < len; ti++)
			{
			  fixTilePosition(allTiles[ti], ti, defaults.animTime);
			}
		})
		
		function fixTilePosition(tile, ind, time)
		{
		  if(time==null)time=0;
		  var centr, centrCol, centrRow, offsetW, offsetH, left, top;
		  
		  centr = Math.floor(c * r / 2);
		  centrCol = Math.ceil(centr/c);
		  centrRow = Math.ceil(centr/r);
			  
		  offsetW = w/centrCol;
		  offsetH = h/centrRow;
		  
		  left = (Math.round((ind % c - centrCol + 1) * offsetW));
		  top = (Math.round((Math.floor(ind/c) - centrRow + 1) * offsetH));
		  
		  //console.log(left, top)
		  
		  TweenMax.to(tile, time, {css:{backgroundPosition:left+"px "+top+"px"}, ease:Power1.easeOut});
		}
	  }
	  
		document.read
	  // ImageGrid(options);
</script>
</html>
