{% extends "components/base.html" %}
{% load static %}

{% block resources %}
<link rel="stylesheet" href="{% static 'css/d&i.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<script src="{% static 'js/sections/d&i.js' %}"></script>
{% endblock %}

{% block content %}
<div class="narrative">

  <div class="fullscreen-background">
      <div class="fullscreen-background__text">
        <h1 class="narrative__title">diversity and inclusion</h1>
        <p>what does diversity and inclusion mean to you? <br/></p>
        <div class="arrow"></div>
      </div>
  </div>
  <div class="narrative__definition " id = "opening" style = "background-image: url('{% static 'imgs\dni\cover.png' %}');">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10 narrative__definition__text fade_in">
        "
        Lines represent differences,
        <br />
        and when we draw lines,
        <br />
        we are calling to attention exclusion."
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
  <div class="fullscreen-background container">
      <div class="fullscreen-background__text intro">
          This year Medium Design Collective is taking a deep dive into the topic of
          <div class = "holographic">diversity and inclusion.</div>
          <br />
          <p>
              What does diversity and inclusion mean to us as designers? How does it influence the way we understand topics
              such as accessibility, disability, bias, identity, and exclusion? How does this theme emerge in different fields
              such as tech, culture, and society?
          </p>
          <br />
          <br />
          <p>
              Below are some articles that explores the idea of what it means to be diverse and inclusive.
          </p>

      </div>
  </div>
  <div class="articles ">
      <div class = "row">
          <div class="col-md"></div>
          <div class = "col-md-3 article border" id = "article_1">
              <div class = "img" style = "background-image: url('{% static 'imgs\dni\coltonCover.jpg' %}');"></div>
              <div class = "description">
                  "A friend once told me that diversity is inviting everyone to your party, and inclusivity is getting them to want to come
                  and dance."
                  <br />
                  <div class = "detail">
                      <h4><b>Diversity Vs. Inclusivity</b></h4>
                      Colton Poore
                  </div>
              </div>
              <div class="col text-center">
                  <a href="/article/1"><button type="button" class="articleBtn" id = "button_1">READ</button></a>
              </div>
          </div>
          <div class = "col-md-3 article border" id = "article_2">
              <div class = "img" style = "background-image: url('{% static 'imgs\dni\cover.png' %}');"></div>
              <div class = "description">
                  "Will we be able to discuss enhancing diversity AND inclusion simultaneously in our writing?"
                  <br />
                  <div class = "detail">
                      <h4><b>Diversity and Inclusion, or Diversity VS Inclusion?</b></h4>
                      Mollie Zhang
                  </div>
              </div>
              <div class="col text-center">
                    <a href="/article/2"><button type="button" class="articleBtn" id = "button_2">READ</button></a>
              </div>
          </div>
          <div class = "col-md-3 article border" id = "article_3">
              <div class = "img" style = "background-image: url('{% static 'imgs\dni\cocktailpast1.jpg' %}');"></div>
              <div class = "description">
                  "The Cocktail Lounge’s ... style is equivalent to that of a sheltered college freshman going to
                  20 O-week parties with their O-Week friends that they’re never going to talk to again."
                  <br />
                  <div class = "detail">
                      <h4><b>Cocktail Lounge</b></h4>
                      Jennifer Lee
                  </div>
                 </div>
              <div class="col text-center">
                  <a href="/article/3"><button type="button" class="articleBtn" id = "button_3">READ</button></a>
              </div>

          </div>
          <div class="col-md"></div>
      </div>
  </div>
  <!-- <div class="narrative__countdown container">
    <div class="narrative__message row">
      <div class="col-md-4"></div>
      <div class="col-md-4">coming soon</div>
      <div class="col-md-4"></div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-1">
        <div class="narrative__countdown__days"></div>
        <div class="narrative__countdown__label">days</div>
      </div>
      <div class="col-md-1">
        <div class="narrative__countdown__hours"></div>
        <div class="narrative__countdown__label">hours</div>
      </div>
      <div class="col-md-1">
        <div class="narrative__countdown__minutes"></div>
        <div class="narrative__countdown__label">minutes</div>
      </div>
      <div class="col-md-1">
        <div class="narrative__countdown__seconds"></div>
        <div class="narrative__countdown__label">seconds</div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div> -->
  <div class = "end-m">
      <center>
          <h3><b>- m -</b></h3>
      </center>
  </div>
</div>

{% endblock %}
