{% extends "components/base.html" %}
{% load static %}

{% block resources %}
<link rel="stylesheet" href="{% static 'css/teams.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<div class="narrative">
    <div class="narrative__wrap">
        <div class="narrative__img narrative__left" style="background-image: url('{% static 'imgs/incubate.jpg' %}');">
        </div>
        <div class="narrative__text-wrap right">
            <div class="narrative__title"></div>
            <div class="narrative__text">
                <div class="narrative__title">incubates</div>
                is for people who want to ideate, develop, and execute design
                projects within a challenging yet supportive creative team. This
                team involves flexible projects - the subject matter, timeline,
                and team itself are up to you. You'll be supported by our design
                director Sheri to flesh out ideas, stay on track, and get any
                other help you'll need.

                <br>
                <br>

                Check out incubates' work <a href="https://www.mediumincubates.com/">here</a>.
            </div>
        </div>
    </div>
    <div class="narrative__wrap">
        <div class="narrative__img narrative__right" style="background-image: url('{% static 'imgs/events.jpg' %}');">
        </div>
        <div class="narrative__text-wrap left">
            <div class="narrative__text">
                <div class="narrative__title">experience</div>
                is for people who want to shape the design experience of the
                Cornell community. You'll design events that make people think,
                whether that be bringing in speakers, organizing workshops, or
                building popups. Experience can be physical, digital, or conceptual.
                you'll be working with Miriam.
            </div>
        </div>
    </div>
    <div class="narrative__wrap">
        <div class="narrative__img narrative__left" style="background-image: url('{% static 'imgs/design.jpg' %}');">
        </div>
        <div class="narrative__text-wrap right">
            <div class="narrative__text">
                <div class="narrative__title">curation</div>
                is for people who want to show the world what we're up to. there
                is both an editorial component and a web component, so apply if
                you are interested in either. On the editorial side, you'll
                create a couple of editorial pieces. On the web side, you'll help
                maintain our website and build a new platform to show off our
                members' work (including yours). You'll be working with David.

                <br>
                <br>

                Check out our editorial <a href="https://issuu.com/cornellmediumeditorial/docs/mediumwinter2020final">here</a>.

            </div>
        </div>
    </div>
    <div class="narrative__wrap">
        <div class="narrative__img narrative__right" style="background-image: url('{% static 'imgs/web.jpg' %}');">
        </div>
        <div class="narrative__text-wrap left">
            <div class="narrative__title"></div>
            <div class="narrative__text">
                <div class="narrative__title">graphic communication</div>
                attempts to answer the need for a graphic design course at Cornell.
                Members will work on prompt-led projects and meet to discuss/participate
                in critiques. Commission work is also occasionally available.
                GC is an experiment, an exploration, (and a place to build portfolios,
                fingers crossed). Try to have fun, though. You'll be working with Marc.
                
                <br>
                <br>

                Check out graphic communication's work <a href="https://geecee.cargo.site/">here</a>.
            </div>
        </div>
    </div>
</div>
{% endblock %}