body{
  margin: 0;
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  overflow-x: auto;
  background: #fff;
}
h1, h2, h3{
  margin:0;
}
h1{
  font-size: 250%;
  font-weight: bold;
  color:black;
  width:auto;
}
h2{
  font-weight: lighter;
  color:white;
}
h3{
  font-size: 100%;
  font-weight: bold;
  color:black;
}
.main{
  max-width: 85%;
  margin:auto;
}
.login{
  float:right;
  border: 2px solid black;
  padding: 4px;
  margin:30px 0;
}
.name{
  font-size: 120%;
}
.major{
  font-size: 100%;
}
.flex{
  display:flex;
  flex-wrap: wrap;
  /* width:100vw; */
  justify-content: space-between;
  clear:both;
}
.profile, .info, .profile img{
  width: 250px;
  height: 250px;
}

.square-container {
  display: flex;
  flex-wrap: wrap;
}

.square {
  position: relative;
  flex-basis: calc(20% - 10px);
  margin: 5px;
  border: 1px solid;
  box-sizing: border-box;
}

.square::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.square .content {
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
}


.profile img{
  position: absolute;
}

.info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
}

.info:hover{
  transition: all 0.8s ease;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.detail{
  text-align: center;
  color: #fff;
}





.creators-nav h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 38px;
    padding: 20px;
    padding-left: 0;
}
.creators-nav {
  background: white;
}
.creators-nav>div {
  max-width: 80%;
  margin: auto;
}
.creators {
  max-width: 1200px;
  margin: auto;
}
.creators-content {
    padding: 20px;
}
.flex {
  display: flex;
}
.creators_preview {
  width: 36vw;
}
.creator_preview_name {
  width: 100%;
  border: 4px solid black;
  height: 32.5%;
  padding: 2%;
  position: relative;
}
.creator_preview_name h1 {
  position: absolute;
  bottom: 0;
  font-family: 'Cooper Hewitt', 'Roboto', sans-serif;
  font-size: 50px;
}
.creator_preview_proj_title {
  background: black;
  height: 32.5%;
  margin: 1% 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.6%;
}
.creator_preview_proj_title h2 {
  font-family: 'Cooper Hewitt', 'Roboto', sans-serif;
}
.creator_preview_proj_title p {
  font-family: 'Cooper Hewitt', 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 18px;
  padding-top: 2%;
}

.creator_preview_buttons  {
  display: flex;
  justify-content: space-between;
  height: 32.5%;

  img {
    max-width: 60px;
  }
}
.creator_preview_buttons>div {
  border: 4px solid black;
  width: 49.5%;
}
.creator_preview_buttons>div:hover {
  background: black;
  color: white;

  img {
    filter: invert(100%);
  }
}
.preview_back_btn, .preview_next_btn{
  position: relative;
}
.preview_back_btn>div, .preview_next_btn>div {
  position: absolute;
  bottom: 0;
  padding: 3%;
  max-width: 50%;

  img {
    transform: rotate(180deg);
  }
}
.preview_next_btn>div {
  left: 38%;
  max-width: 70%;
  text-align: right;
  img {
    transform: rotate(0);
  }
}
.placeholder{
  display:inline-block;
  position:relative;
  width: 60vw;
  height:82vh;
  overflow:hidden;
  box-sizing:border-box;
}

.gridContainer{
  width:100%;
  height:100%;
}

.gridTile
{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-size:cover;
  background-repeat:no-repeat;
  background-origin:center;
}


/****** New project *****/
#creators_new_project {
  background: black;
}

.creators_new_project {
  max-width: 80%;
  margin: auto;
  padding-top: 2%;
  h1 {
    color: white;
    font-family: 'Cooper Hewitt', 'Roboto', sans-serif;
    font-size: 45px;
  }
  color: white;
  font-size: 18px;

  input {
    border: 1.5px solid white;
    background: transparent;
    width: 100%;
    padding: 2px 6px;
  }
  input:active, input:focus {
    background: white;
    outline: none;
    color: black;
  }
  form {
    width: 46%;
  }
  .input-half {
    width: 45%;
  }
  ::placeholder {
    color: white;
    font-size: 14px;
  }
  button {
    margin-top: 2%;
    color: black;
    background: white;
    font-family: 'Cooper Hewitt', 'Roboto', sans-serif;
    font-size: 15px;
    border: none;
    padding: 2% 4% 1.2% 5%;
  }
  textarea {
    width: 100%;
    background: black;
    color: white;
    padding: 2px 6px;
    border: 1.5px solid white;
    font-size: 16px;
  }
  textarea:focus, textarea:active {
    outline: none;
    background: white;
    color: black;
  }
  textarea::placeholder {
    font-style: italic;
  }
}


/***** Sign in ******/
#sign_in {
  width: 50%;
}
.creators_signin_left {
  height: 100vh;
  background: white;
  float: left;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.creators_signin_right {
  height: 100vh;
  background: black;
  float: left;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  h1 {
    color: white;
    font-family: 'Cooper Hewitt', "Helvetica Neue", helvetica, arial, sans-serif;
  }

  div {
    padding-left: 5%;
  }

  a {
    color: white !important;
  }
}

.creators_signin_left div {
  padding-right: 5%;
}

.creators_signin_left h1 {
  font-size: 5em;
  font-family: 'Cooper Hewitt', "Helvetica Neue", helvetica, arial, sans-serif;
  font-weight: bold;
}

#login_form {
  margin: 7% 0;
  input {
    background: black;
    border: 1.5px solid white;
    padding: 4% 4% 2% 4%;
    width: 130%;
    margin-bottom: 7%;
    font-family: 'Cooper Hewitt' , "Helvetica Neue", helvetica, arial, sans-serif;
    color: white;
  }

  input:focus, input:active {
    outline: none !important; 
    background: white;
    color: black;
  }

  #login_submit {
    padding: 3% 15%;
    font-family: 'Cooper Hewitt', "Helvetica Neue", helvetica, arial, sans-serif;
    font-weight: bold;
  }
}

