{% extends "components/creators_base.html" %}
{% load static %}

{% block resources %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
{% endblock %}

{% block full-width-content %}
<div class="creators_new_project_wrapper">
    <div class="creators_new_project">
		<h1>Create a Project</h1>
		<form>
			<label>Title</label>
			<input type="text" name="projectname" placeholder="Enter Project Title">

			<label>Timeframe</label>
			<input type="month" name="startdate" class="input-half"> &nbsp; - &nbsp; <input type="month" name="enddate" class="input-half">

			<label>Collaborators</label>
			<input type="text" name="collab0" placeholder="Enter Name or NetID">
			<button class="btn" id="add_collab">Add More</button>

			<label>Overview</label>
			<textarea name="overview" placeholder = "250 words max"></textarea>

			<label>Key Image</label>
			<button class="btn" id="add_collab">Add Image</button>

			<label>Publish Project</label>
			<button class="btn" type="submit">Submit</button>
		</form>
    </div>
</div>
{% endblock %}