{% extends "components/creators_base.html" %}
{% load static %}

{% block resources %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
{% endblock %}

{% block content %}
<div id="creators_new_project">
    <div class="creators_new_project">
		<h1>Create a Project</h1>
		<form>
			Title <br>
			<input type="text" name="projectname"><br><br>

			Timeframe <br>
			<input type="month" name="startdate" class="input-half"> &nbsp; - &nbsp; <input type="month" name="enddate" class="input-half">
			<br><br>

			Collaborators <br>
			<input type="text" name="collab0" placeholder="Name or NetID">
			<br>
			<button id="add_collab">Add More</button>
			<br><br>

			Overview<br>
			<textarea name="overview" placeholder = "250 words max"></textarea>
			<br><br>

			Add a Project Image for Portfolio Page<br>
			<button id="add_collab">Add Image</button>
		</form>
    </div>
</div>
{% endblock %}