{% extends "components/creators_base.html" %}
{% load static %}

{% block resources %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
{% endblock %}

{% block content %}
<div class="creators_project">
    <div class="proj-name">
        <h3>Project Name</h3>
    </div>

    <div class="proj-outline">
        <div class="proj-info">
            <div class="date">
                <h6>Date</h6>
            </div>
            <div class="date-detail">
                <p>January 2018 - Present</p>
            </div>
        </div>

        <div class="proj-info">
            <div class="overview">
                <h6>Overview</h6>
            </div>
            <div class="overview-detail">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
        </div>

        <div class="proj-info">
            <div class="team">
                <h6>Team</h6>
            </div>
            <div class="team-detail">
                <img src="https://source.unsplash.com/random"/>
                <img src="https://source.unsplash.com/random"/>
                <img src="https://source.unsplash.com/random"/>
                <img src="https://source.unsplash.com/random"/>
            </div>
        </div>
    </div>

    <div class="process-left">
        <div class="process-img">
            <img src="https://source.unsplash.com/random">
        </div>
        <div class="process-info">
            <div class="process-header">
                <h2>Building the Title Screen</h2>
            </div>
            <div class="process-detail">
                <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore"
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore"
                </p>
            </div>
        </div>
    </div>

    <div class="process-right">
        <div class="process-info">
            <div class="process-header">
                <h2>Building the Profile Pages</h2>
            </div>
            <div class="process-detail">
                <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore"
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore"
                </p>
            </div>
        </div>
        <div class="process-img">
            <img src="https://source.unsplash.com/random">
        </div>
    </div>
</div>
{% endblock %}
