<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src = "script.js"> </script>

</head>

<body>



    <div class="main">
        <div class = "header">
            <h1 class = "creators">CREATORS OF CORNELL </h1>
            <h3 class = "login">LOGIN</h3>
        </div>

        <div class="flex">
            <div class="profile">
                <img src = "https://source.unsplash.com/random">
                    <span class ="info">
                        <span class = "detail">
                            <h2 class = "name">Mohit Shah</h2>
                            <h2 class = "major">Information Science '21</h2>
                        </span>
                    </span>
            </div>

            <div class="profile">
                <img src = "https://source.unsplash.com/random">
                    <span class ="info">
                        <span class = "detail">
                            <h2 class = "name">Name</h2>
                            <h2 class = "major">Major & Year</h2>
                        </span>
                    </span>
            </div>

            <div class="profile">
                <img src = "https://source.unsplash.com/random">
                    <span class ="info">
                        <span class = "detail">
                            <h2 class = "name">Name</h2>
                            <h2 class = "major">Major & Year</h2>
                        </span>
                    </span>
            </div>

            <div class="profile">
                <img src = "https://source.unsplash.com/random">
                    <span class ="info">
                        <span class = "detail">
                            <h2 class = "name">Name</h2>
                            <h2 class = "major">Major & Year</h2>
                        </span>
                    </span>
            </div>

            <div class="profile">
                <img src = "https://source.unsplash.com/random">
                    <span class ="info">
                        <span class = "detail">
                            <h2 class = "name">Name</h2>
                            <h2 class = "major">Major & Year</h2>
                        </span>
                    </span>
            </div>

            <div class="profile">
                <img src = "https://source.unsplash.com/random">
                    <span class ="info">
                        <span class = "detail">
                            <h2 class = "name">Name</h2>
                            <h2 class = "major">Major & Year</h2>
                        </span>
                    </span>
            </div>

            <div class="profile">
                <img src = "https://source.unsplash.com/random">
                    <span class ="info">
                        <span class = "detail">
                            <h2 class = "name">Name</h2>
                            <h2 class = "major">Major & Year</h2>
                        </span>
                    </span>
            </div>

            <div class="profile">
                <img src = "https://source.unsplash.com/random">
                    <span class ="info">
                        <span class = "detail">
                            <h2 class = "name">Name</h2>
                            <h2 class = "major">Major & Year</h2>
                        </span>
                    </span>
            </div>

            <div class="profile">
                <img src = "https://source.unsplash.com/random">
                    <span class ="info">
                        <span class = "detail">
                            <h2 class = "name">Name</h2>
                            <h2 class = "major">Major & Year</h2>
                        </span>
                    </span>
            </div>

            <div class="profile">
                <img src = "https://source.unsplash.com/random">
                    <span class ="info">
                        <span class = "detail">
                            <h2 class = "name">Name</h2>
                            <h2 class = "major">Major & Year</h2>
                        </span>
                    </span>
            </div>

            <div class="profile">
                <img src = "https://source.unsplash.com/random">
                    <span class ="info">
                        <span class = "detail">
                            <h2 class = "name">Name</h2>
                            <h2 class = "major">Major & Year</h2>
                        </span>
                    </span>
            </div>

            <div class="profile">
                <img src = "https://source.unsplash.com/random">
                    <span class ="info">
                        <span class = "detail">
                            <h2 class = "name">Name</h2>
                            <h2 class = "major">Major & Year</h2>
                        </span>
                    </span>
            </div>

            <div class="profile">
                <img src = "https://source.unsplash.com/random">
                    <span class ="info">
                        <span class = "detail">
                            <h2 class = "name">Name</h2>
                            <h2 class = "major">Major & Year</h2>
                        </span>
                    </span>
            </div>

            <div class="profile">
                <img src = "https://source.unsplash.com/random">
                    <span class ="info">
                        <span class = "detail">
                            <h2 class = "name">Name</h2>
                            <h2 class = "major">Major & Year</h2>
                        </span>
                    </span>
            </div>

            <div class="profile">
                <img src = "https://source.unsplash.com/random">
                    <span class ="info">
                        <span class = "detail">
                            <h2 class = "name">Name</h2>
                            <h2 class = "major">Major & Year</h2>
                        </span>
                    </span>
            </div>

        </div>
    </div>



</body>
</html>
