<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style2.css">
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src = "script.js"> </script>

</head>

<body>
    <div class = "main">
        <div class = "header">
            <h1 class = "creators">CREATORS OF CORNELL </h1>
            <h1 class = "back" style ="font-size:100%;">BACK</h1>
        </div>
        <div class="name">
            <h5>Caley Drooff</h5>
        </div>
        <div class ="profile">
            <div class="profile-img">
                <img src="https://source.unsplash.com/random">
            </div>

            <div class="info">
                <div class ="major">
                    <h3>Information Science '20</h3>
                </div>
                <div class = "detail">
                    <h4>
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore"
                    </h4>
                </div>
            </div>
        </div>

        <h1 style="text-align: center;">MY PROJECTS</h1>

        <div class ="projects-right">
            <div class="proj-info">
                <div class ="proj-header">
                    <h6>The Jellyfish Project</h6>
                    <h2>January 2018 - Present</h2>
                </div>
                <div class = "proj-detail">
                    <h4>
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore"
                    </h4>
                </div>
            </div>
            <div class="proj-img">
                <img src="https://source.unsplash.com/random">
            </div>
        </div>

        <div class ="projects-left">
            <div class="proj-img">
                <img src="https://source.unsplash.com/random">
            </div>

            <div class="proj-info">
                <div class ="proj-header">
                    <h6>Dumpling Design</h6>
                    <h2>January 2016 - May 2017</h2>
                </div>
                <div class = "proj-detail">
                    <h4>
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore"
                    </h4>
                </div>
            </div>
        </div>

        <div class ="projects-right">
            <div class="proj-info">
                <div class ="proj-header">
                    <h6>Drip Drop</h6>
                    <h2>March 2017 - November 2017</h2>
                </div>
                <div class = "proj-detail">
                    <h4>
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore"
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore"
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore"
                    </h4>
                </div>
            </div>
            <div class="proj-img">
                <img src="https://source.unsplash.com/random">
            </div>
        </div>
    </div>

</body>
</html>
