{% extends "components/creators_base.html" %}
{% load static %}

{% block resources %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
{% endblock %}

{% block full-width-content %}
<div>
	<div class="creators_profile_left">
		<div>
			<h1>Create.</h1>
			<h1>Discover.</h1>
			<h1>Explore.</h1>
		</div>
	</div>
	<div class="creators_profile_right">
		<div>
			<h1>Sign In</h1>
			<a class="btn" href="google.com">
				Authorize with Google
			</a>
		</div>
	</div>
</div>
{% endblock %}