 <!doctype html>
<html lang="en">
<head>
 	<meta charset="utf-8">

 	<title>Medium Design Collective</title>
 	<meta name="description" content="Medium Design Collective">

	<link rel="stylesheet" href="css/home.css">
	<link rel="stylesheet" href="css/hamburgers.css" >
</head>

<body>
	<header class="content-wrapper">
		<img id="logo" src="imgs/logo.png">
		<button class="hamburger hamburger--collapse" type="button">
  			<span class="hamburger-box">
    			<span class="hamburger-inner hamburger-color"></span>
  			</span>
		</button>
	</header>

	<div class="unselectable" id="nav-screen">
		<ul>
			<li><a href="home.html"><span class="content-wrapper">Page 1</span></a></li>
			<li><a href="home.html"><span class="content-wrapper">Page 2</span></a></li>
			<li><a href="home.html"><span class="content-wrapper">Page 3</span></a></li>
		</ul>
	</div>

	<div id="indicator-left">
	</div>

	<div id="indicator-right">
	</div>

 	<script src="js/jquery-3.1.1.min.js"></script>
 	<script src="js/home.js"></script>
</body>
</html>