{% load static %}

 <!doctype html>
<html lang="en">
<head>
 	<meta charset="utf-8">

 	<title>Medium Design Collective</title>
 	<meta name="description" content="Medium Design Collective">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="{% static "css/home.css" %}">
	<link rel="stylesheet" href="{% static "css/hamburgers.css" %}" >

	<script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
</head>

<body>
	<header class="content-wrapper">
		<img id="logo" src="{% static "imgs/logo.png" %}">
	</header>

	<!-- Always on top, fixed on page -->
	<div id="hamburger-wrapper">
		<button class="hamburger hamburger--collapse" type="button">
			<span class="hamburger-box">
				<span class="hamburger-inner hamburger-color"></span>
			</span>
		</button>
	</div>

	<!-- Only visible on click -->
	<div class="unselectable" id="nav-screen">
		<ul>
			<li><a href="home.html"><span class="content-wrapper">Page 1</span></a></li>
			<li><a href="home.html"><span class="content-wrapper">Page 2</span></a></li>
			<li><a href="home.html"><span class="content-wrapper">Page 3</span></a></li>
		</ul>
	</div>
