h4{
    margin: 0
}
.fullscreen-background{
    height: 100vh;
    background-color: black;
}
.narrative {
  &__title::after {
    width:2.5%;
    background-color: white;
    height:5px;
    display: block;
    margin: 10px auto;
    content: ' ';
  }
  &__definition {
    height: 100vh;
    padding: 20% 5%;
    background-color: black;
    color:white;
    &__text {
      font-size: 36px;
    }
  }
  &__countdown {
    padding: 5%;
    &__label {
      font-size: 10px;
    }
    &__days, &__hours, &__minutes, &__seconds {
      font-size: 36px;
    }
  }
  &__message {
    margin-bottom: 5%;
    font-size: 36px;
  }
}
#opening{

}
// fade
.fade_in {
  opacity: 0;
}
.intro{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 10%;
    margin: auto;
    color: white;
    font-size: 120%;
}
//gradient words
.holographic{
    background: linear-gradient(to right, #41a8e7 40%, #e595e0 50%, #dace1b 60%);
    color: transparent;
    -webkit-background-clip: text;
}
.border img{
    border: 5px solid white;
    margin: 15px 0;
}

.article{
    padding: 0 20px;
    color: white;
    height: auto;
    a{
        color:white;
    }
    .detail{
        margin: 5% 0;
    }

    img{
        max-height: 20vh;
    }
}
.description{
    min-height: 35%;
}
.img {
    border: 5px solid white;
    margin: 20px auto;
    position: relative;
    // float: left;
    width:  300px;
    height: 300px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
.articleBtn{
    font-size: 12px;
    letter-spacing: 1px;
    background-color: transparent;
    width: 50%;
    margin: auto;
    padding: 3px 0;
    border: 2px solid white;
    border-radius: 20px;
    align-self: center;
}

// arrow
body {
	background-color: #282828;
}

div.arrow {
	width: 3vmin;
	height: 3vmin;
	box-sizing: border-box;
	position: absolute;
	left: 49%;
  margin-top: 10%;
	transform: rotate(135deg);

	&::before {
		content: '';
		width: 100%;
		height: 100%;
		border-width: .3vmin .3vmin 0 0;
		border-style: solid;
		border-color: #fafafa;
		transition: .2s ease;
		display: block;
		transform-origin: 100% 0;
	}


	&:after {
		content: '';
		float: left;
		position: relative;
		top: -100%;
		width: 100%;
		height: 100%;
		border-width: 0 .3vmin 0 0;
		border-style: solid;
		border-color: #fafafa;
		transform-origin: 100% 0;
		transition:.2s ease;
	}


}

.articles{
    background-color: black;
    height: auto;
    padding: 20px 0;
}
.end-m{
    padding-top: 7%;
    background-color: black;
    color: white;
    height: auto;
    h3{
        margin:0;
    }
}
